@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #003261,
    ),
    'success': (
      'base': #21ba45,
    ),
    'warning': (
      'base': #f2711c,
    ),
    'danger': (
      'base': #db2828,
    ),
    'error': (
      'base': #db2828,
    ),
    'info': (
      'base': #42b8dd,
    ),
  ),
  $button: (
    'text-color': #ffffff,
    'border-color': #3d3942,
    'bg-color': #3d3942,
    'hover-text-color': #ffffff,
    'hover-bg-color': #514c58,
    'hover-border-color': #514c58,
  ),
  $card: (
    'bg-color': unset,
  )
);
