.el-card {
  border: none !important;
}

.el-tabs__nav-wrap::after {
  background-color: rgb(156 156 156 / 20%) !important;
}

#background {
  background-position: 50%;
  background-size: cover;
  filter: blur(15px) brightness(.85);
  height: 100vh;
  position: fixed;
  scale: 1.1;
  top: 0;
  width: 100vw;
  z-index: -1
}

.panel {
  .el-tabs {
    .el-tabs--border-card {
      background-color: unset;
    }

    .el-tabs__header {
      .el-tabs__nav-scroll {
        padding-left: 20px;
        padding-right: 20px;
      }

      background-color: unset;
    }

    .el-card__body {
      padding-top: 5px;
    }
    background-color: unset;
  }

  .el-tabs.el-tabs--border-card {
    .el-tabs__item.is-active {
      background-color: rgb(231 201 201);
    }

    .el-tabs__item {
      border-top-left-radius: 10px;
    }

    .el-tabs__header {
      .el-tabs__nav-scroll {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .el-card__body {
      padding-top: var(--el-card-padding);
    }
  }

  .el-table {
    th.el-table__cell {
      background-color: unset;
    }

    tr {
      background-color: unset;
    }

    background-color: unset;
  }

  .el-select {
    .el-select__wrapper {
      background-color: rgb(236, 223, 223);
    }
  }

  .el-switch {
    .el-switch__core {
      .el-switch__action {
        background-color: rgb(234, 185, 185);
      }
    }
  }
}
