body {
  margin: 0;
}

html {
  &.dark {
    .panel {
      --panel-bg-color: #1d1e1f;
    }

    --app-bar-bg-color: #1d1e1f;
    --app-bar-border-bt--color: #040404;
  }

  &:not(.dark) {
    .panel {
      .el-table {
        --el-table-row-hover-bg-color: rgb(156 156 156 / 30%);
        --el-table-border-color: rgb(170, 166, 166);
      }

      .el-button {
        &:hover {
          --el-button-hover-bg-color: rgb(156 156 156 / 50%);
        }
        &:active {
          --el-button-active-bg-color: rgb(156 156 156 / 50%);
        }

        & {
          --el-button-bg-color: rgb(156 156 156 / 30%);
          --el-button-hover-border-color: rgb(156 156 156 / 30%);
          --el-button-border-color: rgb(170, 166, 166);
        }
      }

      .el-pagination {
        --el-disabled-bg-color: rgb(214, 185, 185);
        --el-pagination-button-bg-color: rgb(214, 185, 185);
      }

      .el-tabs.el-tabs--border-card {
        .el-tabs__item.is-active {
          --el-bg-color-overlay: rgb(231 201 201);
        }
      }

      .el-select {
        .el-select__wrapper {
          --el-fill-color-blank: rgb(236, 223, 223);
        }
      }

      .el-input {
        .el-input__wrapper {
          --el-input-bg-color: rgb(242, 219, 219)
        }
      }

      --panel-bg-color: rgb(229 225 215 / 65%);
    }

    .el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
    .el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
      --el-menu-hover-bg-color: rgb(196, 184, 155);
    }

    --app-bar-bg-color: rgb(202 194 174);
    --el-menu-bg-color: var(--app-bar-bg-color);
    --app-bar-border-bt--color: rgb(199 178 126);
  }
}

.el-card {
  border: none !important;
}

.el-tabs__nav-wrap::after {
  background-color: rgb(156 156 156 / 20%) !important;
}

#background {
  filter: blur(5px) brightness(.85);
  height: 100vh;
  position: fixed;
  scale: 1.1;
  top: 0;
  width: 100vw;
  z-index: -99
}

.app-bar.el-menu {
  &:not(.el-menu--collapse) .el-sub-menu__title {
    margin-right: 20px;
    padding: 0px;
  }
}

.el-menu--popup .theme-switch {
  padding: 0 10px;
}

.panel {
  .el-tabs {
    .el-tabs--border-card {
      background-color: unset;
    }

    .el-tabs__header {
      .el-tabs__nav-scroll {
        .el-tabs__item {
          --el-border-color: rgb(156 156 156 / 20%);
        }

        padding-left: 20px;
        padding-right: 20px;
      }

      border-bottom: unset;
      background-color: unset;
    }

    .el-card__body {
      padding-top: 5px;
    }

    background-color: unset;
  }

  .el-tabs.el-tabs--border-card {
    .el-tabs__item:first-child {
      border-top-left-radius: 10px;
    }

    .el-tabs__header {
      .el-tabs__nav-scroll {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .el-card__body {
      padding-top: var(--el-card-padding);
    }
  }

  .el-table {
    th.el-table__cell {
      background-color: unset;
    }

    tr {
      background-color: unset;
    }

    .el-table__cell {
      border-color: rgb(173 173 173) !important;
    }

    background-color: unset;
  }

  .el-switch {
    .el-switch__core {
      .el-switch__action {
        background-color: rgb(234, 185, 185);
      }
    }
  }

  .el-card {
    .el-tabs {
      border: unset;
    }

    --el-card-bg-color: unset;
  }
}
